<div class="aboutme ">
    <div class="header text-center">
        <div class="edit">
            <input type="text" value="编辑"/>
        </div>
        <div class="myself">
        <img class="headPic" src="img/home/default-headpic.png"/>
            <p class="name">路人甲</p>
        </div>
        <div class="waveborder"></div>
    </div>

    <div class="container-fluid cv">
        <ul>
            <li><span class="pic"><img src="img/home/icon-cv.png" alt="cv"/></span>
            <span>简历</span><span class="pull-right grey">完整度：93%</span>
            </li>
            <li><span class="pic"><img src="img/home/icon-chance.png" alt="机会"/></span>
                <span>机会+<img class="hotIcon" src="img/home/icon-hot-round.png" alt="hot"/></span>
                <span class="pull-right grey">设置隐私保护</span>
            </li>
        </ul>
    </div>

    <div class="set container-fluid">
        <ul>
            <li><span class="pic"><img src="img/home/icon-mark.png" alt="collect"/></span>
                <span>收藏</span>
            </li>
            <li><span class="pic"><img src="img/home/icon-feedback.png" alt="feedback"/></span>
                <span>意见反馈</span>
            </li>
            <li><span class="pic"><img src="img/home/icon-set.png" alt="set"/></span>
                <span>设置</span>
            </li>
        </ul>
    </div>

</div>