<div class="searchResult">
    <div class="header green">
        <span ng-click="goHome()"><img class="sm-logo" src="img/home/icon-back-green.png" alt="back"/> 返回</span>
        <input ui-sref="search" type="text" class="searchBox" placeholder="{{placeholder}}"/>
    </div>
    <div class="searchOps container-fluid">
            <div class="col-xs-4">
                <span>全上海</span><span class="caret"></span>
            </div>
            <div class="col-xs-4">
                <span>职位筛选</span><span class="caret" ></span>
            </div>
            <div class="col-xs-4">
                <span>公司筛选</span><span class="caret"></span>
            </div>
    </div>
    <div position-intro></div>


</div>